<div class="navbartop">
  <div class="flexbox">
    <div class="item">
      Unicorn 1.0
    </div>
    <%# <div class="col-8"> %>
      <div class="item">
        item
      </div>
      <div class="item">
        Sign
      </div>
    <%# </div> %>
    <div class="col-2">
      <% if user_signed_in? %>
        <div> Welcome <%= current_user.email %> </div>
        <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= button_to "Sign in", new_user_session_path %>
      <% end %>
    </div>
  </div>
</div>
