.container-main {
  width: 400px;
  background-color: #F8DE22;
  margin: 0 auto;
  margin-top: 40px;
  padding: 30px;
  border-radius: 25px;
  box-shadow: 2px 4px 10px rgb(187, 187, 187);
}
.salam {
  margin: 0px;
}
