.navbartop {
  width: 100%;
}

.flexbox {
  display: flex;
  align-items: center;
  background-color: #900C3F;
  padding: 0px;
  opacity: 0.7;
  box-shadow: 2px 4px 10px rgb(187, 187, 187);
}

.item {
  flex-grow: 1;
  color: white;
  padding: 5px;
}
