.navbartop {
  width: 100%;
}

.flexbox {
  display: flex;
  align-items: center;
  background-color: #F94C10;
  padding: 0px;
  opacity: 0.8;
  box-shadow: 2px 4px 10px rgb(187, 187, 187);

  a {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }

  a:hover {
    color: rgb(210, 210, 210);
    transition-timing-function: ease;
  }
}

.item {
  flex-grow: 1;
  text-decoration: none;
  color: white;
  padding: 15px;
  text-shadow: 2px 3px 5px rgb(0, 0, 0);
}

.navigationright {
  text-decoration: none;
}
